//
// Base -> Buttons
// --------------------------------------------------

.btn {
  display: inline-flex;
  font-weight: $btn-font-weight;
  justify-content: center;
  align-items: center;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  height: 48px;
  border: 1px solid transparent;
  position: relative;
  font-weight: 500;
  @include button-size($padding-base-vertical, $padding-base-horizontal, 15px, 1.2222, $btn-border-radius-base);
  width: 100%;
  min-width: 160px;

  @media screen and (min-width: $screen-md-min) {
    width: auto;
    height: 58px;
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-medium, 1.2222, $btn-border-radius-base);
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &--full {
    display: block;
    width: 100%;
    & + & {
      margin-top: 5px;
    }
  }

  &--default {
    @include button-variant-tr($btn-default-color, $btn-default-bg, $btn-default-border);
  }


  // Color buttons
  @if $use-btn-color == true {
    &--primary {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
      position: relative;
      transition: color .5s;

      &::after,
      &::before {
        content: '';
        position: absolute;
        left: -2px;
        top: -1px;
        width: 30%;
        height: 103%;
        border-radius: $btn-border-radius-base 0 0 $btn-border-radius-base;
        border-style: solid;
        border-color: $black;
        border-width: 1px;
        transition: width .5s .2s, border-radius .3s .2s, border-width .2s, border-color .3s;
      }
      &::after {
        border-right-width: 0;
        border-bottom-width: 0;
      }
      &::before {
        border-right-width: 0;
        border-top-width: 0;
      }
      &:hover {
        color: $base-color-main;
        transition: color .5s .5s;
        &::after,
        &::before {
          width: 101%;
          border-radius: $btn-border-radius-base;
          border-color: $base-color-main;
          border-right-width: 1px;
          border-top-width: 1px;
          border-bottom-width: 1px;
          transition: width .5s, border-radius .3s .2s, border-width .2s .35s, border-color .3s .4s;
        }
      }
      &:active {
        color: $black;
        &::after,
        &::before {
          border: 1px solid $black;
        }
      }
    }
    &--transparent {
      @include button-variant(white, transparent, rgba(#E5E5E5, 0.4));
      &::after,
      &::before {
        left: -1px;
        border-color: white;
      }
      &:hover {
        color: white;
        &::after,
        &::before {
          width: 101%;
        }
      }
    }
  }
}

.btn-container {
  position: relative;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  width: auto;
  cursor: pointer;
  font-weight: 500;
  padding: 0 30px;
  transition: none;
  border: none;
  background: none;
  font-family: "Montserrat", Arial, sans-serif;
  @media screen and (min-width: $screen-md-min) {
    height: 58px;
    line-height: 58px;
    font-size: 20px;
  }

  span {
    color: $black;
    transition: color .5s, left .5s;
    position: relative;
    left: 0;
    z-index: 1;
  }
  circle {
    transform: matrix(-1, 0, 0, 1, 5.5, 24.5);
    transition: transform .9s, fill .5s cubic-bezier(0.76, 0, 0.24, 1) .4s;
    @media screen and (min-width: $screen-md-min) {
      transform: matrix(-1, 0, 0, 1, 4.5, 28.5);
    }
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    @media screen and (min-width: $screen-md-min) {
      height: 58px;
    }
  }
  &:hover {
    circle {
      transform: matrix(-1, 0, 0, 1, 25.5, 24.5);
      fill: white;
      @media screen and (min-width: $screen-md-min) {
        transform: matrix(-1, 0, 0, 1, 20.5, 28.5);
      }
    }
    &.transparent {
      color: white;
      .btn-animate {
        fill: $base-color-main;
      }
      span {
        color: white;
      }
    }
    color: $black;
    .btn-animate {
      stroke-dasharray: 217%, 0;
      stroke-dashoffset: 82%;
      stroke: $base-color-main;
      fill: $base-color-main;
      transition:
        stroke-dasharray .5s cubic-bezier(0.76, 0, 0.24, 1),
        stroke-dashoffset .5s cubic-bezier(0.76, 0, 0.24, 1),
        stroke .5s cubic-bezier(0.76, 0, 0.24, 1) .4s,
        fill .5s cubic-bezier(0.76, 0, 0.24, 1) .4s;
      @media screen and (min-width: $screen-md-min) {
        stroke-dasharray: 203%, 0;
      }

      &--big {
        stroke-dasharray: 232%, 0;
        stroke-dashoffset: 107%;
      }
    }
    span {
      color: white;
      left: 5px;
      transition: color .5s .4s, left .5s;
    }
  }

  &.transparent {
    .btn-animate {
      fill: rgba(white, 0);
    }
    .btn-path {
      opacity: 0.4;
    }
    span {
      color: white;
    }
  }
}

.btn-animate {
  stroke-width: 1;
  stroke-dasharray: 126%, 228%;
  stroke-dashoffset: 107%;
  fill: white;
  transition:
    stroke-dasharray .5s cubic-bezier(0.76, 0, 0.24, 1) .4s,
    stroke-dashoffset .5s cubic-bezier(0.76, 0, 0.24, 1) .4s,
    stroke .5s cubic-bezier(0.76, 0, 0.24, 1),
    fill .5s cubic-bezier(0.76, 0, 0.24, 1) .4s;
  @media screen and (min-width: $screen-md-min) {
    stroke-dasharray: 126%, 205%;
  }

  &--big {
    stroke-dasharray: 126%, 218%;
  }
  &--md {
    stroke-dasharray: 126%, 211%;
  }
}
