.form {
  position: relative;
  &-inner {
    h3 {
      margin-bottom: $form-group-margin-bottom / 2;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: $form-group-margin-bottom;
      }
    }
  }
  &-send {
    max-width: 850px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    .form__group {
      margin-left: auto;
    }
    &--inline {
      justify-content: space-between;
      max-width: inherit;
      width: 90%;
      h3 {
        margin: 0;
      }
      .form-back--js {
        margin-left: auto;
      }
    }
  }
}


.sign {
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  padding: 40px 0;
  @media screen and (min-width: $screen-md-min) {
    padding: 60px 0;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 90px 0;
  }
  @media screen and (min-width: $screen-xl-min) {
    padding: 170px 0 110px;
  }
  h2 {
    margin: 0;
    @media screen and (max-width: $screen-lg-max) {
      font-size: 35px;
    }
    @media screen and (max-width: $screen-sm-max) {
      font-size: 24px;
    }
  }
}
