//
// Modules -> Navs
// --------------------------------------------------

.nav {
  &-background {
    padding-top: 70px;
    padding-bottom: 20px;
    position: relative;
    height: 520px;
    color: white;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $screen-md-min) {
      height: 790px;
      padding-top: 160px;
      padding-bottom: 60px;
    }

    &.nav-title {
      border-bottom: none;
    }

    .breadcrumbs {
      overflow-x: auto;
      overflow-y: hidden;

      @media screen and (min-width: $screen-md-min) {
        overflow: visible;
      }
      li:before,
      a,
      li {
        color: white;
      }
    }

    .mainTitle {
      border-top: 2px solid #FFFFFF;
      margin-top: 15px;
      padding-top: 15px;
      margin-bottom: 40px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 60px;
      }
    }

    ul:not(.breadcrumbs) {
      color: white;
      max-width: 980px;
      a {
        color: white;
      }


      .col__xl-5 {
        @media screen and (min-width: $screen-xl-min) {
          width: 42.66667%;
        }
      }

      .long-arrow-right {
        color: $base-color-main;
        &:before {
          color: $base-color-main;
        }
      }
      .long-arrow-line {
        background-color: $base-color-main;
      }
    }

    .setBack {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $black;
      z-index: 0;
    }

    .setImg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center bottom 80px;
      background-size: 100% auto;
      mix-blend-mode: color-burn;
      @media screen and (min-width: $screen-lg-min) {
        background-size: 70% auto;
        background-position: left 140px center;
      }
    }

    &--fullWidth {
      .setImg {
        background-size: cover;
        background-position: center;
        mix-blend-mode: normal;
      }
      @media screen and (min-width: $screen-lg-min) {
        .row.end__lg.bottom__lg {
          height: 100%;
        }
        .col.col__lg-8.col__xs-12 {
          display: flex;
          flex-direction: column;
          height: 100%;
        }
      }
    }

    .container {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      //justify-content: space-between;
      @media screen and (min-width: $screen-md-min) {
        width: calc(100% - 30px);
      }
      @media screen and (min-width: 1440px) {
        width: calc(100% - 90px);
      }
    }

    &__link {
      a {
        display: flex;
        align-items: center;
        color: white;
        font-size: 11px;
        @media screen and (min-width: $screen-md-min) {
          font-size: 16px;
        }
        &:hover {
          color: $base-color-main;
        }
      }
      i {
        margin-right: 10px;
        font-size: 33px;
        @media screen and (min-width: $screen-md-min) {
          margin-right: 25px;
          font-size: 58px;
        }
      }
    }

    &__img {
      img {
        max-width: 90px;
        margin-right: 5px;
        margin-bottom: 5px;
        @media screen and (min-width: $screen-md-min) {
          max-width: inherit;
          margin-bottom: 0;
        }
      }
    }

    &__trade {
      position: absolute;
      bottom: 0;
      left: 0;
      img {
        width: 105px;
        @media screen and (min-width: $screen-md-min) {
          width: auto;
        }
      }
      @media screen and (min-width: $screen-lg-min) {
        position: static;
      }
    }
  }

  &-bottom {
    position: absolute;
    bottom: 0;
    left: 15px;
  }
}

.menuNav {
  @include list--unstyled;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.22222;
  @media screen and (min-width: $screen-md-min) {
    font-size: 25px;
  }
  @media screen and (min-width: $screen-xl-min) {
    font-size: 45px;
  }

  &__item {
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 30px;
    }
  }
  &__link {
    color: $black;
    &:hover {
      color: $base-color-main;
    }
  }
}
.menuSubNav {
  @include list--unstyled;
  font-weight: 600;
  font-size: 15px;
  line-height: 130%;
  margin-top: 20px;
  @media screen and (min-width: $screen-md-min) {
    font-size: 20px;
    margin-top: 0;
  }
  @media screen and (min-width: $screen-xl-min) {
    font-size: 25px;
  }

  &__item {
    margin-bottom: 15px;
  }
  &__link {
    color: $black;
    &:hover {
      color: $base-color-main;
    }
  }
}
.menuAdditionalNav {
  @include list--unstyled;
  display: inline-flex;
  font-weight: 600;
  font-size: 13px;
  line-height: 130%;
  width: 100%;
  padding: 30px 0 20px;
  overflow-x: auto;
  justify-content: space-between;

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  @media screen and (min-width: $screen-md-min) {
    display: flex;
    font-size: 18px;
    padding: 60px 0;
    overflow-x: visible;
    border-bottom: 1px solid $gray;
  }
  @media screen and (min-width: $screen-xl-min) {
    justify-content: flex-start;
    font-size: 25px;
    padding: 90px 0;
  }
  &__item {
    white-space: nowrap;
      & + & {
        margin-left: 20px;
        @media screen and (min-width: $screen-xl-min) {
          margin-left: 40px;
        }
        @media screen and (min-width: $screen-xxl-min) {
          margin-left: 90px;
        }
      }
  }
  &__link {
    color: $black;
    &:hover,
    &.active {
      color: $base-color-main;
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 96;
  right: -1200px;
  max-width: 1160px;
  width: 100%;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: right .5s;
  @media screen and (min-width: $screen-lg-min) {
    width: calc(100% - 80px);
  }

  &.open {
    right: 0;
    @media screen and (min-width: $screen-lg-min) {
      right: 80px;
    }
    &:after {
      width: 100%;
      opacity: 1;
      transition: opacity .5s .2s;
    }
  }
  .page-menu__language {
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 30px;
    @media screen and (min-width: $screen-md-min) {
      display: none;
    }
  }


  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 0;
    display: block;
    opacity: 0;
    background: rgba(3, 3, 3, 0.3);
    transition: opacity .5s;
  }

  &-inner {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 70px 15px 40px;

    @media screen and (min-width: $screen-md-min) {
      padding-right: 20px;
      padding-left: 20px;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding-right: 90px;
      padding-left: calc(90px * 1.66666);
    }
  }
  &-column {
    @media screen and (min-width: $screen-md-min) {
      margin-top: 8vh;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
  }

  &-youtube {
    margin-top: 40px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 8vh;
      margin-bottom: 0;
    }
    i {
      background: url("../images/icons/youtube.svg") no-repeat center;
      width: 37px;
      height: 19px;
      display: inline-block;
      @include transitionEaseInOut(background);
    }
    &:hover {
      i {
        background: url("../images/icons/youtubeb.svg") no-repeat center;
      }
    }
  }
  &-email {
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    color: $black;
    margin-top: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-md-min) {
      font-size: 25px;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    &:hover {
      color: $base-color-main;
    }
  }
  &-phone {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: $black;
    margin-top: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 0;
      font-size: 25px;
    }
    @media screen and (min-width: $screen-xl-min) {
      font-size: 45px;
    }
    &:hover {
      color: $base-color-main;
    }
  }
  &-adr {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: $black;
  }
}

.link-icon {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  color: $black;
  @include transitionEaseInOut(color);
  @media screen and (min-width: $screen-md-min) {
    font-size: 16px;
  }
  span {
    margin-left: 10px;
  }
  &:hover {
    color: $base-color-main;
  }
}

.link-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $gray;
  padding: 20px;
  color: $black;
  @include transitionEaseInOut(all);
  @media screen and (min-width: 1600px) {
    padding: 25px 40px;
  }
  &__title {
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    @media screen and (min-width: $screen-md-min) {
      font-size: 19px;
    }
    @media screen and (min-width: $screen-lg-min) {
      font-size: 25px;
    }
    @media screen and (min-width: 1600px) {
      font-size: 35px;
    }
  }
  &__img {
    font-size: 27px;
    margin-left: 30px;
    line-height: 1;
    color: $gray;
    @include transitionEaseInOut(color);
    @media screen and (min-width: $screen-md-min) {
      font-size: 50px;
    }
    @media screen and (min-width: $screen-xl-min) {
      font-size: 80px;
    }
  }
  &:hover {
    color: $base-color-main;
    background-color: $gray-lighten;
    .link-block__img {
      color: $base-color-main;
    }
  }
}
