.popup {
  height: 100%;
  overflow-y: auto;
  position: relative;
  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  &-image {
    img {
      width: 100%;
    }
  }
  &-body {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    @media screen and (min-width: $screen-md-min) {
      padding: 40px 90px 60px 90px;
    }
    @media screen and (min-width: $screen-lg-min) and (max-height: 700px) {
      padding: 40px;
    }
  }
  &-desc {
    margin-bottom: 60px;
    @media screen and (min-width: $screen-lg-min) and (max-height: 700px) {
      margin-bottom: 40px;
    }
  }
  &-title {
    h5 {
      font-size: 20px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
  &-tool {

  }
  &-cat {
    margin-top: 60px;
    @media screen and (min-width: $screen-lg-min) and (max-height: 700px) {
      margin-top: 40px;
    }
  }
  &-close {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transitionEaseInOut(background-color);
    @media screen and (min-width: $screen-md-min) {
      background-color: $black;
    }
    &:hover {
      background-color: $base-color-main;
    }
  }
}
