.about {
  &-mission {
    margin-top: 15px;
    border-top: 2px solid $black;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 60px;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-top: 140px;
    }
    &-item {
      & + & {
        margin-top: $form-group-margin-bottom;
      }
    }
  }
  h3 {
    margin-bottom: $form-group-margin-bottom / 2;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: $form-group-margin-bottom;
    }
    @media screen and (max-width: $screen-sm-max) {
      font-size: 18px;
      margin-top: 8px;
    }
  }
  &-history {
    border-top: 2px solid $black;
    @media screen and (min-width: $screen-md-min) {
      border-bottom: 1px solid $gray;
    }
    &-items {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: $screen-md-min) {
        justify-content: space-between;
        padding-bottom: 20px;
      }
    }
    &-item {
      @media screen and (min-width: $screen-md-min) {
        padding: 30px 55px;
        border-left: 1px solid $gray;
        p {
          margin-bottom: 35px;
        }
      }
      .swiper-slide {
        padding-top: 128px;
        position: relative;
        @media screen and (min-width: $screen-md-min) {
          padding-top: 0;
        }
      }
    }
    .year {
      font-weight: 600;
      font-size: 45px;
      line-height: 0.95;
      text-transform: uppercase;
      position: absolute;
      left: 0;
      top: 58px;
      transition: all .4s cubic-bezier(0.76, 0, 0.24, 1) 0s !important;
      @media screen and (min-width: $screen-md-min) {
        font-size: 65px;
        margin-top: 80px;
        text-align: right;
        position: static;
      }
      @media screen and (min-width: $screen-lg-min) {
        font-size: 95px;
      }
    }

    .swiper-button {
      display: flex;
      position: absolute;
      top: 11px;
      right: 0;
      z-index: 11;
      @media screen and (min-width: $screen-md-min) {
        width: 125px;
        bottom: 0;
        right: auto;
        top: auto;
      }
    }

    .swiper-pagination {
      &-bullets {
        opacity: 1;
      }
      &-bullet {
        opacity: 1;
        font-weight: 600;
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 0;
        position: relative;
        transition: padding-left .5s;
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: 30px;
        }
        &:before {
          content: '';
          background: url("../images/about/pagin-arrow.svg") no-repeat center;
          width: 13px;
          height: 14px;
          position: absolute;
          left: -50px;
          top: 0;
          bottom: 0;
          margin: auto;
          transition: left .5s;
        }
        &:hover {
          color: $base-color-main;
        }
        &-active {
          padding-left: 23px;
          color: $base-color-main;
          &:before {
            left: 0;
          }
        }
      }
    }

    .swiper-wrapper {
      transition-delay: .5s !important;
    }

    .swiper-slide-next,
    .swiper-slide-prev {
      .year {
        opacity: 0;
        transform: translateY(-10px);
      }
    }
    .swiper-slide-active {
      .year {
        opacity: 1;
      }
    }
  }
}


.harmonicSlider {
  margin: 40px 0;
  @media screen and (min-width: $screen-md-min) {
    margin: 70px 0;
  }
  @media screen and (min-width: $screen-lg-min) {
    margin: 170px 0;
  }
}
