.contacts {
  &-container {
    @extend .mainContainer;
  }

  &-item {
    margin-bottom: 90px;
    p {
      margin-bottom: 20px;
      margin-top: 10px;
    }
  }
  &-el {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 20px;
  }
  &-link {
    color: $gray-darken;
    margin-top: 20px;
    display: inline-block;
  }
}
