.contacts {
  &-container {
    @extend .mainContainer;
  }

  .page-footer-adr {
    margin-bottom: 5px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 15px;
    }
    + .contacts-link {
      margin-top: 10px;
    }
  }

  .link-icon {
    margin-bottom: 30px;
  }

  &-item {
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-bottom: 90px;
    }
    p {
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 10px;
      }
    }
    h1 {
      margin: 0;
    }
    &--mini {
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 20px;
      }
    }
  }
  &-el {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      font-size: 24px;
    }
    @media screen and (min-width: $screen-lg-min) {
      font-size: 35px;
      line-height: 1.222;
    }
  }
  &-link {
    color: $gray-darken;
    display: inline-block;
    @media screen and (min-width: $screen-lg-min) {
      margin-top: 20px;
    }
  }
}
