.contacts {
  &-container {
    @extend .mainContainer;
  }
  h3 {
    margin-top: 0;
  }

  .page-footer-adr {
    margin-bottom: 5px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 15px;
    }
    + .contacts-link {
      margin-top: 0;
    }
  }

  .link-icon {
    margin-bottom: 30px;
  }

  &-item {
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-bottom: 90px;
    }
    &--mob {
      @media screen and (max-width: $screen-sm-max) {
        margin-bottom: 0;
      }
    }
    p {
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 10px;
      }
    }
    h1 {
      margin: 0;
    }
    &--mini {
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 20px;
      }
    }
  }
  &-el {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      font-size: 21px;
    }
    @media screen and (min-width: $screen-lg-min) {
      font-size: 30px;
      line-height: 1.222;
    }
    @media screen and (min-width: $screen-xl-min) {
      font-size: 35px;
    }
  }
  &-link {
    color: $gray-darken;
    display: inline-block;
    @media screen and (min-width: $screen-lg-min) {
      margin-top: 20px;
    }
  }

  &-botet {
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 30px;
    }
  }
  &-bot {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
  }
}
