.glossary {
  &-container {
    @extend .mainContainer;
  }

  &-list {
    margin-top: -30px;
  }

  &-search {
    position: relative;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 50px;
    }
    button {
      position: absolute;
      top: 2px;
      bottom: 2px;
      right: 0;
      margin: auto;
      z-index: 9;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: white;
      @media screen and (min-width: $screen-xl-min) {
        right: 30px;
      }
    }
  }

  &-results {
    display: none;
    font-weight: 500;
    margin-bottom: 60px;
    @media screen and (min-width: $screen-lg-min) {
      margin-bottom: 90px;
    }
    &-title {
      margin-bottom: 10px;
    }
    &-desc {
      font-size: 14px;
      color: $gray-darken;
    }
    &.active {
      display: block;
    }
  }

  &-abc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 40px;
    @media screen and (min-width: $screen-lg-min) {
      margin: 0 -15px 0;
    }
    li {
      cursor: pointer;
      max-width: 51px;
      margin: 0 7px 10px;
      flex-grow: 1;
      width: calc(100% * (1/5) - 30px - 1px);
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid $gray;
      transition: border-color .5s;
      @media screen and (min-width: $screen-md-min) {
        margin: 0 5px 10px;
      }
      @media screen and (min-width: $screen-lg-min) {
        margin: 0 7px 10px;
      }
      @media screen and (min-width: $screen-xl-min) {
        margin: 0 15px 10px;
      }
      i {
        font-size: 15px;
        color: $gray;
        transition: color .5s;
      }
      span {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: $black;
        transition: color .5s;
      }
      &:hover,
      &.active {
        border-color: $base-color-main;
        i, span {
          color: $base-color-main;
        }
      }
    }
  }

}
