//
// Pages -> Index
// ------------------------------------

.page-main {
  padding-top: 0;


  .btn {
    width: auto;
  }
}

.row-add {
  @media screen and (min-width: $screen-xl-min) {
    margin-left: -40px;
    margin-right: -40px;
    > .col {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.mainContainer {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media screen and (min-width: $screen-xl-min) {
    padding-top: 170px;
    padding-bottom: 170px;
  }
}

.indexItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid $gray;

  & + & {
    border-left: 1px solid $gray;
  }
}

.relative {
  position: relative;
}

.nextBlock {
  padding: 20px 0;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px 0;
  color: $black;
  @include transitionEaseInOut(background-color);
  @media screen and (min-width: $screen-md-min) {
    margin: 90px 0;
    flex-wrap: nowrap;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 30px 55px;
  }
  @media screen and (min-width: $screen-xl-min) {
    margin: 170px 0;
  }
  &-desc {
    font-weight: 500;
    font-size: 11px;
    line-height: 150%;
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      font-size: 16px;
      width: auto;
    }
  }
  &-title {
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    max-width: 70%;
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      font-size: 20px;
      max-width: inherit;
      width: auto;
    }
    @media screen and (min-width: $screen-lg-min) {
      font-size: 35px;
    }
  }
  .long-arrow-right {
    color: $base-color-main;
    top: -10px;
    @media screen and (min-width: $screen-md-min) {
      top: 0;
    }
    @media screen and (min-width: $screen-lg-min) {
      width: 43px;
      height: 43px;
      &::before {
        width: 57px;
      }
    }
  }

  &:hover {
    background-color: $white-darken;
    .long-arrow-right::before {
      width: 77px;
    }
  }
}

.combineArr {
  i {
    position: relative;
    &:after {
      content: '';
      width: 15px;
      height: 1px;
      background-color: $base-color-main;
      position: absolute;
      right: 2px;
      top: 0;
      bottom: 0;
      margin: auto;
      @include transitionEaseInOut(width);
      @media screen and (min-width: $screen-md-min) {
        width: 40px;
        height: 2px;
      }
      @media screen and (min-width: $screen-lg-min) {
        width: 57px;
      }
    }
  }
  &:hover {
    i::after {
      width: 30px;
      @media screen and (min-width: $screen-md-min) {
        width: 55px;
      }
      @media screen and (min-width: $screen-lg-min) {
        width: 77px;
      }
    }
  }
}

.mainTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 0;
  }
  img {
    display: none;
    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }
}

.indexSlider {
  .swiper-pagination {
    text-align: left;
    bottom: 0;
    font-size: 26px;
    line-height: 1.23;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      justify-content: flex-start;
      width: auto;
    }
    &-bullet {
      flex: 1;
      background: transparent;
      display: block;
      color: white;
      width: auto;
      height: auto;
      font-weight: 500;
      padding-left: 9px;
      transition: all .5s;
      padding-bottom: 27px;
      position: relative;
      opacity: 1;
      @media screen and (min-width: $screen-md-min) {
        flex: inherit;
        padding-left: 20px;
        padding-right: 75px;
        padding-bottom: 50px;
      }

      &-active {
        font-size: 40px;
        padding-bottom: 50px;
        @media screen and (min-width: $screen-md-min) {
          padding-bottom: 80px;
        }
        &:before {
          @extend .paginationAnimate;
        }
      }

      &:after {
        content: '';
        width: 2px;
        height: 100%;
        background: rgba(white, 0.3);
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        @include transitionEaseInOut(background);
      }
      &:before {
        content: '';
        width: 2px;
        height: 0;
        background: white;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 9;
      }
      &:hover {
        color: $base-color-main;
        &:after {
          //background: $base-color-main;
        }
      }

    }
  }
}

.nav-title {
  border-bottom: 1px solid $gray;
  padding-bottom: 15px;
  @media screen and (min-width: $screen-md-min) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding-bottom: 70px;
  }
}

.title-icon {
  display: flex;
  align-items: center;
  img {
    margin-right: 15px;
  }
}

.index {
  &-slider {
    color: white;
    .swiper-slide {
      min-height: 100vh;
      .container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }
    }
    h2 {
      font-size: 32px;
      line-height: 1.18;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      @media screen and (min-width: $screen-md-min) {
        font-size: 60px;
      }
      @media screen and (min-width: $screen-lg-min) {
        font-size: 70px;
      }
      @media screen and (min-width: $screen-xl-min) {
        font-size: 95px;
      }

      img {
        width: 50px;
        @media screen and (min-width: $screen-md-min) {
          width: auto;
        }
      }

      &:nth-child(2) {
        margin-left: 140px;
      }

      &.title-icon {
        font-weight: 600;
      }
    }
    &-title {
      margin-top: 125px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 25vh;
      }
      @media screen and (min-width: $screen-lg-min) {
        margin: auto 0;
      }
    }
    &-desc {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      margin-top: 40px;
      @media screen and (min-width: $screen-md-min) {
        font-size: 26px;
      }
      @media screen and (min-width: $screen-lg-min) {
        position: absolute;
        bottom: 3vh;
        right: 25px;
        margin-top: 0;
        font-size: 22px;
      }
      @media screen and (min-width: $screen-lg-min) and (min-height: $screen-lg-min) {
        bottom: 130px;
        font-size: 26px;
      }
      @media screen and (min-width: $screen-xl-min) {
        font-size: 26px;
        bottom: 30px;
      }
      @media screen and (min-width: $screen-xxl-min) {
        bottom: 60px;
      }
      p {
        @media screen and (min-width: $screen-xl-min) {
          margin-bottom: 40px;
        }
      }
    }
  }

  &-services {
    position: relative;
    overflow: hidden;
    .btn {
      margin-left: 15px;
      margin-top: 30px;
      @media screen and (min-width: $screen-md-min) {
        position: absolute;
        bottom: 20px;
        right: 20px;
        margin: 0;
      }
      @media screen and (min-width: $screen-lg-min) {
        bottom: 60px;
        right: 90px;
      }
    }
    &-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: $gray-darken-2;
      padding: 8px 20px;
      display: inline-block;
      position: relative;
      margin-top: 60px;
      margin-bottom: 30px;
      margin-left: 15px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
      }

      span {
        width: 13px;
        height: 14px;
        position: absolute;
        display: block;

        &:after,
        &:before {
          content: '';
          position: absolute;
          background: $gray;
        }
        &:after {
          height: 2px;
          width: 100%;
        }
        &:before {
          height: 100%;
          width: 2px;
        }

        &:first-child {
          top: 0;
          left: 0;
          &:after,
          &:before {
            top: 0;
            left: 0;
          }
        }
        &:last-child {
          bottom: 0;
          right: 0;
          &:after,
          &:before {
            bottom: 0;
            right: 0;
          }
        }
      }
    }
    &__item {
      @extend .indexItems;
      padding: 0;
      @media screen and (min-width: $screen-md-min) {
        padding: 20px 30px;
      }
      @media screen and (min-width: $screen-xl-min) {
        padding: 60px 50px;
      }

      img {
        margin-top: 20px;
        @media screen and (min-width: $screen-md-min) {
          margin-top: -20px;
        }
      }

      .list--bullet {
        @media screen and (min-width: $screen-lg-min) {
          span {
            display: block;
          }
        }
      }
    }
  }

  &-projects {
    overflow: hidden;
    &__item {
      @extend .indexItems;
      padding-left: 0;
      .index-services-title {
        margin-left: 0;
        margin-top: 40px;
        @media screen and (min-width: $screen-md-min) {
          margin-top: 0;
        }
      }

      &:first-child {
        padding: 20px 30px;
        @media screen and (min-width: $screen-lg-min) {
          padding: 60px 50px;
        }
      }
    }

    .showOnMobile {
      margin-left: 15px;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
}

.menu-maps {
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: $black;
  display: flex;
  width: 100%;
  overflow-x: auto;
  @media screen and (min-width: $screen-md-min) {
    font-size: 20px;
    display: block;
    overflow-x: visible;
  }
  li {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid $gray;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    @include transitionEaseInOut(all);
    white-space: nowrap;
    margin-right: 20px;
    @media screen and (min-width: $screen-md-min) {
      white-space: normal;
      margin-right: 0;
    }

    span {
      width: 14px;
      min-width: 14px;
      height: 14px;
      border-radius: 14px;
      margin-right: 10px;
      @media screen and (min-width: $screen-md-min) {
        margin-right: 20px;
      }
    }
    &:first-child span {
      background: $base-color-main;
    }
    &:nth-child(2) span {
      background: $color-type-1a;
    }
    &:last-child span {
      background: $color-type-4a;
    }
    &.active,
    &:hover {
      &:first-child {
        border-color: $base-color-main;
      }
      &:nth-child(2) {
        border-color:  $color-type-1a;
      }
      &:last-child {
        border-color:  $color-type-4a;
      }
    }

    &.active {
      &:first-child {
        color: $base-color-main;
      }
      &:nth-child(2) {
        color: $color-type-1a;
      }
      &:last-child {
        color: $color-type-4a;
      }
    }
  }
}

#googleMaps {
  width: 100%;
  height: 510px;
  @media screen and (min-width: $screen-lg-min) {
    height: 850px;
  }
}

.paginationAnimate {
  animation-name: paginationAnimate;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes paginationAnimate {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}


.showMoreText {
  max-height: 171px;
  transition: max-height .5s;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%,  rgba(255,255,255,1) 80%,  rgba(255,255,255,1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.active {
    max-height: 500px;
    &:after {
      display: none;
    }
  }
  &-link {
    font-size: 16px;
    text-align: center;
    transition: color .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 9;
    cursor: pointer;
    span {
      display: block;
      width: 15px;
      height: 15px;
      background: url("../images/icons/plus.svg") no-repeat center;
      transition: background .5s;
      margin-left: 10px;
    }
    &:hover {
      color: $base-color-main;
      span {
        background: url("../images/icons/minus.svg") no-repeat center;
      }
    }
  }
}
