.laboratory {
  .menuAdditionalNav {
    border-bottom: none;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 0;
    }
  }
  &-item {
    margin-top: 30px;
    border-top: 2px solid $black;
    padding-bottom: 30px;
    position: relative;
    @media screen and (min-width: $screen-lg-min) {
      margin-top: 60px;
      padding-bottom: 60px;
    }
    @media screen and (min-width: $screen-xl-min) {
      margin-top: 90px;
    }

    h3 {
      margin-bottom: $form-group-margin-bottom / 3;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: $form-group-margin-bottom / 2;
      }
      @media screen and (min-width: $screen-lg-min) {
        margin-bottom: $form-group-margin-bottom;
      }
      @media screen and (max-width: $screen-sm-max) {
        font-size: 15px;
      }
    }

    .list--icons {
      li {
        margin-bottom: 10px;
      }
    }

    &--sub {
      padding-bottom: 0;
    }
  }

  &-counter {
    margin-top: 40px;
    display: flex;
    font-weight: 500;
    border-top: 2px solid $black;
    padding-top: 15px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 60px;
    }
    @media screen and (min-width: $screen-xl-min) {
      margin-top: 155px;
    }
    span {
      color: $black;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $black;
      font-weight: 600;
      font-size: 45px;
      line-height: 1.22222;
      margin-right: 25px;
    }
  }

  &-slide {
    display: flex;
    flex-direction: column;
  }

  .indexSlider {
    margin-top: 20px;
    img {
      width: 100%;
    }
  }

  .swiper-button {
    position: absolute;
    top: -50px;
    right: 0;
    display: flex;
    z-index: 9;
    @media screen and (min-width: $screen-md-min) {
      position: static;
      margin-top: 20px;
    }
    @media screen and (min-width: 1600px) {
      position: absolute;
      top: calc(100% - 43px);
      margin-top: 0;
      left: 0;
    }
    @media screen and (min-width: $screen-xxl-min) {
      margin-top: auto;
    }
  }
}
