.news {
  &-container {
    @extend .publications-container;

    .showMore {
      @media screen and (max-width: $screen-sm-max) {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 30px;
      }
    }
  }
}
