.page404 {
  padding-top: 140px;
  padding-bottom: 80px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding-top: 180px;
    padding-bottom: 300px;
  }
  &-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    @media screen and (min-width: $screen-md-min) {
      flex-wrap: nowrap;
    }
    &-left {
      @extend .col__xl-4;
      @extend .col__lg-4;
      @extend .col__md-5;
      @extend .col__xs-12;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      h4 {
        margin-top: 0;
        @media screen and (max-width: $screen-sm-max) {
          font-size: 15px;
          margin-bottom: 30px;
        }
      }
      .btn {
        width: 100%;
        @media screen and (min-width: $screen-md-min) {
          width: auto;
        }
      }
    }
    &-center {
      font-weight: 600;
      font-size: 170px;
      line-height: 0.75;
      margin-top: 60px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 0;
        font-size: 190px;
      }
      @media screen and (min-width: $screen-lg-min) {
        font-size: 240px;
      }
    }
    &-right {
      @extend .col__xl-4;
      @extend .col__lg-1;
      @extend .hideOnMobileAndTablet;
      text-align: right;
    }
  }
}
