.projects {
  &-container {
    padding-top: 50px;
    @media screen and (min-width: $screen-lg-min) {
      padding-top: 80px;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding-top: 150px;
    }
  }

  &-main {
    min-height: 50vh;
  }
  &-item {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $screen-xl-min) {
      margin-bottom: 90px;
    }
    p, h3 {
      @include transitionEaseInOut(color);
    }
    &-left {
      width: 100%;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      @media screen and (min-width: $screen-md-min) {
        width: calc(100% - 31%);
        margin-bottom: 0;
      }
      @media screen and (min-width: $screen-lg-min) {
        width: calc(100% - 420px);
      }
      @media screen and (min-width: $screen-xl-min) {
        width: calc(100% - 580px);
      }
    }
    &-right {
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        width: 28%;
      }
      @media screen and (min-width: $screen-lg-min) {
        width: 390px;
      }
      @media screen and (min-width: $screen-xl-min) {
        width: 490px;
      }
      img {
        width: 100%;
      }
    }
    &--title {
      h3 {
        margin-top: 0;
        margin-bottom: 20px;
        @media screen and (max-width: $screen-sm-max) {
          font-size: 15px;
        }
      }
      p {
        color: $gray-darken;
      }
    }
    &--bot {
      width: 100%;
      color: $gray-darken;
      p {
        margin-bottom: 5px;
      }
      @media screen and (min-width: $screen-md-min) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &:hover {
      h3 {
        color: $base-color-main;
      }
      p {
        color: $black;
      }
    }
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 2px solid $black;
    padding-top: 20px;
  }

  #googleMaps {
    margin-left: -4%;
    margin-right: -4%;
    width: 108%;
    @media screen and (min-width: $screen-lg-min) {
      height: 650px;
    }
  }

  .showMore {
    margin: 0 auto 50px;
    @media screen and (min-width: $screen-lg-min) {
      margin: 0 auto 90px;
    }
    @media screen and (min-width: $screen-xl-min) {
      margin: 0 auto 170px;
    }
  }
}

#filters {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  margin-bottom: 30px;
  overflow-x: auto;
  @media screen and (min-width: $screen-md-min) {
    margin-bottom: 40px;
    font-size: 15px;
    margin-top: 13px;
  }
  @media screen and (min-width: $screen-xl-min) {
    margin-bottom: 90px;
  }
  @media screen and (min-width: 1600px) {
    font-size: 20px;
    padding-top: 20px;
    margin-top: 0;
  }
  li {
    cursor: pointer;
    border-bottom: 2px solid $gray;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    @include transitionEaseInOut(all);
    white-space: nowrap;
    margin-top: 20px;
    @media screen and (min-width: $screen-lg-min) {
      white-space: normal;
      margin-top: 0;
    }
    + li {
      margin-left: 10px;
    }
    &:before {
      content: '';
      width: 14px;
      min-width: 14px;
      height: 14px;
      display: block;
      border-radius: 15px;
      margin-right: 20px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 2px;
      width: 0;
      @include transitionEaseInOut(width);
    }

    &:first-child {
      &:after,
      &:before {
        background-color: $base-color-main;
      }
    }
    &:nth-child(2) {
      &:after,
      &:before {
        background-color: $color-type-1a;
      }
    }
    &:last-child {
      &:after,
      &:before {
        background-color: $color-type-4a;
      }
    }

    &.active,
    &:hover {
      &:after {
        width: 100%;
      }
    }

    &.active {
      &:first-child {
        color: $base-color-main;
      }
      &:nth-child(2) {
        color: $color-type-1a;
      }
      &:last-child {
        color: $color-type-4a;
      }
    }
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar {
    background-color: transparent;
  }
}


.filter-container {
  .filtr-item {
    width: 100% !important;
    &.hidden {
      display: none;
    }
  }
}

.project {
  padding-top: 0;
  .equipment-content {
    @media screen and (min-width: $screen-xl-min) {
      margin-top: 63px;
    }
  }
  &-dates {
    position: relative;
    color: $gray-darken;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-lg-min) {
      top: -30px;
      margin-bottom: 0;
    }
    @media screen and (min-width: $screen-xl-min) {
      top: -120px;
    }
  }
  .nav-background {
    color: $black;
    a {
      color: $black;
      &:hover {
        color: $base-color-main;
      }
    }
    .mainTitle {
      border-color: $black;
      margin-bottom: 90px;
    }
    .breadcrumbs {
      color: $gray-darken;
      .breadcrumbs__item,
      .breadcrumbs__item::before,
      a {
        color: $gray-darken;
      }
    }
  }
  .indexSlider {
    margin-top: 30px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 90px;
    }
    img {
      width: 100%;
    }
    .swiper-pagination {
      position: static;
      margin-top: 15px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 30px;
      }
      @media screen and (min-width: $screen-xl-min) {
        padding-left: 95px;
      }
    }
    .swiper-button {
      position: absolute;
      bottom: 96px;
      right: 0;
      top: auto;
      width: 202px;
      background-color: transparent;
      @media screen and (min-width: $screen-xl-min) {
        width: 246px;
      }
    }
  }
  .imageContainer {
    margin-top: 30px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 90px;
    }
  }
}


.imageContainer {
  position: relative;
  &-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
    @media screen and (min-width: $screen-md-min) {
      top: 30px;
      left: 30px;
    }
  }
  &-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $black;
    padding: 30px 0;
    > * {
      margin: 0 !important;
    }
  }
}
