.search-content {

  .search-input {
    display: flex;
    margin: 80px 0 40px;

    @media screen and (max-width: $screen-md-min){
      display: block;
      margin: 40px auto 28px;
    }

    &__line {
      width: 100%;
      border: none;
      border-bottom: 2px solid #E5E5E5;
      padding-bottom: 30px;
      font-size: 20px;
      line-height: 24px;
      color: #323232;
      transition: all .5s;
      margin-right: 109px;
      font-family: $base-font-family;

      @media screen and (max-width: $screen-md-min){
        margin-right: 0;
      }

      &:focus {
        border-bottom: 2px solid #3700FF;
      }

      &::placeholder {
        color: $black;
      }

      @media screen and (max-width: $screen-md-min){
        margin-bottom: 20px;
      }
    }
  }

  .search-found {
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    font-family: $base-font-family;
  }

  .search-res {
    border-top: 2px solid #323232;
    padding: 20px 0 40px;

    &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #323232;

      &:hover {
        color: #3700FF;
      }

      @media screen and (max-width: $screen-sm){
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__inform {
      max-width: 1070px;
      padding: 20px 0 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #323232;
      font-family: $base-font-family;
      @media screen and (max-width: $screen-sm){
        font-size: 13px;
        line-height: 150%;
      }
    }

    &__bread {
      display: flex;
    }

    &__way {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #838383;
      padding-right: 20px;
      @media screen and (max-width: $screen-sm){
        font-size: 11px;
        line-height: 150%;
      }
    }

    &__crumbs {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #323232;
      @media screen and (max-width: $screen-sm){
        font-size: 11px;
        line-height: 150%;
      }
    }
  }

  .search-showMore {
    margin: 60px auto 160px;

    @media screen and (max-width: $screen-sm){
      margin: 40px auto 80px;
    }
  }
}


