.service {
  &-container {
    @extend .mainContainer;
  }

  @media screen and (min-width: $screen-lg-min) {
    .equipmentList-item:last-child {
      .equipmentList-item__top {
        position: relative;
        z-index: 1;
      }
      .equipmentList-item__bottom {
        margin-top: -100px;
      }
    }
  }
}
