//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 0;
  transition: background-color .5s;
  z-index: 99;
  //background-color: white;
  @media screen and (min-width: $screen-md-min) {
    //position: relative;
    //z-index: 9;
    //background-color: transparent;
  }
  @media screen and (min-width: $screen-lg-min) {
    position: relative;
    z-index: 9;
    padding: 60px 0;
  }
  .logo {
    max-width: 140px;
    width: 100%;
    height: 17px;
    display: block;
    background: url("../images/logo.svg") no-repeat center / 100% auto;
    transition: background 0s;
    @media screen and (min-width: $screen-md-min) {
      //height: 25px;
      //max-width: 190px;
    }
    @media screen and (min-width: $screen-md-min) {
      height: 35px;
      max-width: 290px;
    }
  }
  &__fixed {
    top: 0;
    left: 0;
    z-index: 96;
    @media screen and (min-width: $screen-md-min) {
      .logo {
        background-image: url("../images/logo-white.svg");
      }
    }
    @media screen and (min-width: $screen-lg-min) {
      position: absolute;
      right: 90px;
    }
  }
  &--index {
    padding: 15px;
    @media screen and (min-width: $screen-md-min) {
      padding: 30px;
    }
    @media screen and (min-width: 1440px) {
      padding: 60px;
    }
  }
  &__fixedB {
    .logo {
      background-image: url("../images/logo.svg");
    }
  }
  &__logo {
    a {text-decoration: none;}
  }

  &.scrolled {
    @media screen and (max-width: $screen-md-max) {
      background-color: $base-color-main;

      .logo {
        width: 27px;
        height: 25px;
        background-image: url("../images/icons/logo.svg");
      }

      .menu {
        span {
          background-color: white;
        }
      }
    }
    @media screen and (max-width: $screen-sm-max) {
      .logo {
        width: 19px;
        height: 17px;
      }
    }
  }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
