extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.contacts
    +navTitle('Контакты')
    section.container.contacts-container
      .row.row-add.between__md.end__xs(data-aos='fade-up')
        .contacts-item.col.col__xxl-4.col__xl-3.col__lg-3.col__md-3.col__xs-4
        .contacts-item.col.col__xxl-8.col__xl-9.col__lg-9.col__md-9.col__xs-8
          h1 Офис
        .contacts-item.col.col__xxl-4.col__xl-3.col__lg-3.col__md-3.col__xs-4
          p ПН – ПТ, 9 – 18
        .col.col__xxl-4.col__xl-5.col__lg-5.col__md-4.col__xs-8
          .contacts-el: a(href='tel:88123290190') 8 812 329–01–90
          .contacts-el: a(href='tel:88123290194') 8 812 329–01–94
        .contacts-item.col.col__xxl-4.col__xl-4.col__lg-4.col__md-5.col__xs-8.anchor
          p.contacts-bot: b Производство
          .page-footer-adr.contacts-bot г. Санкт-Петербург, наб. реки Мойки, #[span.br-style] 75-79 лит. В, пом. 7Н
          a.contacts-link(href='#google', target='_blank') Посмотреть на карте
      .row.row-add.between__md.end__xs(data-aos='fade-up')
        .contacts-item.contacts-item--mob.col__xxl-4.col.col__xl-3.col__lg-3.col__md-3.col__xs-4
          p.contacts-botet По общим вопросам
          p Коммерческий департамент
        .col.col__xxl-4.col__xl-5.col__lg-5.col__md-4.col__xs-8
          .contacts-el: a(href='mailto:info@alfahorizont.ru') info@alfahorizont.ru
          .contacts-el: a(href='mailto:sales@alfahorizont.ru') sales@alfahorizont.ru
        .contacts-item.col.col__xxl-4.col__xl-4.col__lg-4.col__md-5.col__xs-8.anchor
          p.contacts-bot: b Офис
          .page-footer-adr.contacts-bot г. Санкт-Петербург, наб. реки Мойки, #[span.br-style] 75-79 лит. В, пом. 7Н
          a.contacts-link(href='#google', target='_blank') Посмотреть на карте
        .col.col__xxl-4.col__xl-3.col__lg-3.col__xs-12
          p.hideOnMobileAndTablet Мы в соцсетях
        .col.col__xl-2.col__lg-2.col__md-3.col__xs-8.last__lg
          a.link-icon(href='#', target='_blank')
            +img('icons/youtube.svg')
            span YouTube
        .col.col__xxl-6.col__xl-7.col__lg-7.col__md-9.col__xs-12
          a.link-block(href='#', target='_blank')
            .link-block__title.text__lg Следите за нашими #[br] публикациями на LinkedIn
            .link-block__img: i.icon-in
    #google(data-locations=[
      [
        59.91701049,
        30.31812429,
        'assets/images/icons/bubbleb.svg',
        'Россия, Сергиев Посад — 2019 г',
        'Тест на кручение фильтра АльфаДирект',
      ],
      [
        59.91916157,
        30.3251195,
        'assets/images/icons/bubbleb.svg',
        'Россия, Сергиев Посад — 2020 г',
        'Тест на кручение фильтра АльфаДирект',
      ]
    ])
    .rellax-box(data-aos='fade-up'): .rellax: +img('contacts.jpg')
    section.container.vacancy-container
      .row.row-add.between__xs
        .col.col__xl-4.col__lg-4
        .col.col__xl-8.col__lg-8
          +form('Напишите нам', 'Ваш вопрос или пожелание', 'Мы получили ваше сообщение и ответим, как только сможем.')

block footer
  include ../partials/_footer.pug
