extends ../layouts/master.pug

block header
  include ../partials/_header-fixed.pug


block content
  main.equipment
    +navTitleBackOne('АльфаДирект AICV', 'Оборудование', 'background-image: url("assets/images/equip/filters/card.jpg")', 'equip/item-1w.svg', 'Фильтр прямой намотки с АУКП нового поколения — AICV', "icons/pdfw.svg")
    .container.equipment-container
      .row.row-add.equipment-template
        .col.col__lg-8.col__xs-12.equipment-content
          #description.equipment-template__item.template__item--js
            +revealMainTag('Описание', 'h3')
            .equipment-template__block(data-aos='fade-up')
              h6 Это скважинное фильтровальное оборудование прямой намотки для заканчивания в составе хвостовика, способное блокировать нежелательный флюид (вода, газ) в процессе добычи.
              p Технология клапана основана на использовании эффекта воздействия перепада давления для разных течений флюида (ламинарный и турбулентный) в зависимости от вязкости, плотности и скорости потока. АльфаДирект AICV может быть дооснащен химическими индикаторами притока для возможности мониторинга работы скважины без проведения дополнительных геофизических исследований скважины на ГНКТ, кабеле или скважинном тракторе. Для возможности стимулирования скважины, устройство может оснащаться нагнетательным клапаном.
            .acc
              .acc__card
                .acc__inner(data-aos='fade-up')
                  .acc__title Подробное описание #[span]
                  .acc__panel
                    p Автономное устройство контроля притока или регулятор притока AICV относится к группе устройств контроля притока (УКП), которые снабжены автономным саморегулируемым клапаном-регулятором притока пластового флюида в нефтяную скважину. Данное устройство позволяет автоматически отсекать попадание в добывающую скважину нежелательного флюида в виде воды и газа.
                    p Устройство AICV предназначено для предотвращения негативного эффекта прорыва воды и газа и повышения коэффициента извлечения нефти при использовании в сложных неоднородных условиях коллектора с зонами разломов и зонами высокопроницаемых пластов месторождения.
                    br
                    h5 Назначение данного устройства заключается в:
                    ul.list--icons
                      li Создание равномерного притока флюида вдоль горизонтальной скважины, предотвращение преждевременного прорыва газа или воды.
                      li Эффективная блокировка прорывов воды и газа.
                      li Повышение продуктивности добывающих скважин за счет снижения доли непродуктивного флюида.
                      li Увеличение срока службы скважин.
                    p Устройство AICV работает автономно и не требует внешнего управления. При изолировании интервалов скважин с помощью пакеров устройство AICV позволяет полностью перекрывать приток газа и воды на определенном участке («зоне») скважины. При этом приток добываемой нефти продолжается из других зон скважины, на которые не воздействует прорыв газа, что оптимизирует добычу и извлечение нефти.
                    p Клапан AICV также является реверсивным, что позволяет возобновить приток нефти после того, как на входе устройства начинает поступать нефть и условия прорыва воды или газа перестают действовать.
                    br
                    p.text__xs Регулятор AICV комплектуется противопесочным фильтром АльфаДирект. Устройство контроля притока монтируется на стенке базовой трубы на каждом соединении, по аналогии с установкой стандартных устройств УКП. AICV устанавливается на наружном торце фильтра и является составной частью полного устройства. Само устройство включает в себя помимо клапана еще модуль, обеспечивающий подвод флюида к клапану и соединяющий его с выходной частью противопесочных фильтров. Фильтр АльфаДирект представляет собой изделие из высокопрочной перфорированной базовой трубы и плотно посаженного фильтра с проволочной обмоткой. Передовая технология фильтра с проволочной обмоткой обеспечивает высокую прочность сварки и точность щелевых отверстий. Точное расположение V-образной проволоки и ребер жесткости обеспечивает максимальную прочность для применения в наиболее сложных скважинных условиях. Большое количество ребер жесткости обеспечивает высокую прочность фильтра на разрыв, а также обеспечивает его высокую прочность. Использование высококачественных сталей обеспечивает устойчивость фильтра к коррозии. При установке данных устройств скважину могут делить на зоны, разделяя их набухающими пакерами.
          #scheme.equipment-template__item.template__item--js(data-aos='fade-up')
            +revealMainTag('Схема работы', 'h3')
            div(data-aos='fade-up'): +img('equip/card.jpg')
            .equipment-template__block(data-aos='fade-up')
              h6 Главной особенностью устройства AICV является выделение в общем потоке флюида через устройство вспомогательного канала или рукава, через который проходит всего 1% общего потока через это устройство.
              p Данный канал используется для управления клапаном открытия основного канала притока флюида. Входящий в клапан поток жидкости разбивается на два канала: основной и вспомогательный. В основном канале стоит подвижный клапан, степень открытия которого регулируется усилием поршня, который в свою очередь зависит от давления во вспомогательном канале.
              p Во вспомогательном канале устанавливаются два ограничителя, первый из них формирует ламинарное течение жидкости, второй представляет собой сопло, через которое происходит турбулентное истечение жидкости.
              p Подвижный поршень позволяет закрыть клапан основного канала. Настройка положение клапана определяется перепадом давления в каналах устройства, в случае нефти клапан открыт, в случае воды и газа давление на поршень возрастает клапан закрывается и происходит блокировка поступления воды или газа.
              p Поток флюида направляется радиально из коллектора через противопесочный фильтр вокруг базовой трубы, вдоль наружной поверхности трубы через затрубное пространство на вход регулятора AICV и далее в эксплуатационную колонну.
              p Когда газ или вода достигают затрубного пространства в одной из зон скважины, регулятор AICV в этой зоне закрывается. Оптимальная конфигурация и распределение регуляторов AICV зависят от особенностей места их установки.
          #advantages.equipment-template__item.template__item--js
            +revealMainTag('Преимущества', 'h3')
            .equipment-template__block(data-aos='fade-up')
              ul.list--corner.row.between__xs
                li.col.col__md-6.col__xs-12 Устройство предотвращает прорывы воды и газа
                li.col.col__md-6.col__xs-12 Не требует внешнего контроля и управления
                li.col.col__md-6.col__xs-12 Восстанавливает работу после блокировки, в случае обратного притока нефти
                li.col.col__md-6.col__xs-12 Может использоваться на новых и старых скважинах
                li.col.col__md-6.col__xs-12 Снижает риски в процессе работ по спуску и установке, в связи с уникальными прочностными характеристиками, с возможностью вращения и расхаживания хвостовика
          #character.equipment-template__item.template__item--js
            +revealMainTag('Основные технические характеристики', 'h3')
            ul.list--list(data-aos='fade-up')
              li Доступен для базовых труб широкого диапазона 102 – 168 мм
              li Длина фильтроэлемента до 9000 мм
              li Размер щелевого отверстия от 50 до 2000 мкм
              li Высота дренажного слоя от 1,5 до 5 мм
              li Исполнения клапана – карбид вольфрама
              li Максимальное перекрытие клапана для воды — 99%, 98% — для газа
              li Равнопроходное внутреннее сечение
          #projects.equipment-template__item.template__item--js
            +revealMainTag('Проекты, на которых #[br] применялась технология', 'h3')
            .equipment-template__card(data-aos='fade-up')
              .row
                .col.col__md-6.col__xs-12
                  h4 ООО «СевКомНефтегаз»
                  p.text__sm Норвегия   —   2016 год
                .col.col__md-6.col__xs-12
                  +img('equip/proj.jpg')
          +form('Задать вопрос', 'Вопрос', 'Спасибо! Мы получили ваш сообщение.')
        .col.col__lg-4.col__md-6.col__xs-12.hideOnMobileAndTablet
          .sidebar
            ul.equipmentNav.anchor(data-aos='fade-up')
              li.active: a(href='#description') Описание
              li: a(href='#scheme') Схема работы
              li: a(href='#advantages') Преимущества
              li: a(href='#character') Технические характеристики
              li: a(href='#projects') Проекты
            +linkIcon('Ко всем фильтрам')
    .container.stopper: +nextItem('АльфаПорт', 'equip/next.jpg', 'Смотрите также', true)

block footer
  include ../partials/_footer.pug
