extends ../layouts/master.pug

block pageName
  - const pageName = "fixed"

block header
  include ../partials/_header-fixed.pug

block content
  main.equipment
    +navTitleBack(
      'Устройства контроля притока',
      'Оборудование',
      'background-image: url("assets/images/equip/maincat-2.jpg")',
      index.controls,
      'background-image: url("assets/images/equip/maincat-2m.jpg")'
    )
    .container.equipment-container
      .equipment-content.row.row-add
        .col.col__md-6.col__xs-12
          a.equipment-el(data-aos='fade-up', href="#")
            .equipment-el__top
              h4 АльфаДирект AICV
              .text__sm Фильтр скважинный щелевой бескаркасный
            .equipment-el__bottom
              .equipment-el__logo
                +img('equip/item-6.svg')
              +img('equip/filters/item-1.jpg')
        .col.col__md-6.col__xs-12
          a.equipment-el(data-aos='fade-up', href="#")
            .equipment-el__top
              h4 АльфаПорт
              .text__sm Фильтр скважинный щелевой
            .equipment-el__bottom
              .equipment-el__logo
                +img('equip/item-7.svg')
              +img('equip/filters/item-2.jpg')
        .col.col__md-6.col__xs-12
          a.equipment-el(data-aos='fade-up', href="#")
            .equipment-el__top
              h4 АльфаДирект ICD
              .text__sm Система управляемых фильтров, совмещенная с системой МГРП
            .equipment-el__bottom
              .equipment-el__logo
                +img('equip/item-8.svg')
              +img('equip/filters/item-3.jpg')
      .row.row-add.equipment-info
        .col.col__lg-6.col__xs-12
          +revealMainTag('Устройства контроля притока', 'h3')
        .col.col__lg-6.col__xs-12(data-aos='fade-up')
          p Фильтр этого типа применяется в условиях переменного химического состава добываемой среды, когда возникает опасность коррозии и залипания железистыми и карбонатными отложениями, поскольку фильтр восстанавливает свою работоспособность после регенерации (промывка, кислотная обработка).
          p Основная цель использования технологии регулирования притока заключается в оптимизации производительности добывающих скважин и повышения коэффициента извлекаеости нефти. В силу большой протяженности горизонтальных скважин пластовые условия резервуара вдоль скважины существенно меняются, что приводит неравномерности в притока флюида по зонам скважины.


block footer
  include ../partials/_footer.pug
