extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.equipment.equipmentMain
    +navTitle('Оборудование')
    .container.equipment-container.equipment-container--big
      .equipmentList
        .equipmentList-item(data-aos='fade-up')
          .equipmentList-item__top(data-aos='fade-up')
            .equipmentList-item__num 01.
            .equipmentList-item__title
              h2
                a(href='#')
                  +arrow()
                  | Скважинные фильтры
              ul.equipMenu
                li: a(href='#')
                  +arrow()
                  | АльфаДирект
                li: a(href='#')
                  +arrow()
                  | АльфаСлот
                li: a(href='#')
                  +arrow()
                  | АльфаПолимер
                li: a(href='#')
                  +arrow()
                  | АльфаШелл
                li: a(href='#')
                  +arrow()
                  | АльфаКомпакт
          .equipmentList-item__bottom(data-aos='fade-up')
            .equipmentList-item__mark: .spinnerSlow: +img('equip/trademark.svg')
            .equipmentList-item__logo
              +img('equip/item-1.svg')
              +img('equip/item-2.svg')
              +img('equip/item-3.svg')
              +img('equip/item-4.svg')
              +img('equip/item-5.svg')
            .rellax-box: .rellax: +img('equip/cat-1.jpg')
        .equipmentList-item(data-aos='fade-up')
          .equipmentList-item__top(data-aos='fade-up')
            .equipmentList-item__num 02.
            .equipmentList-item__title
              h2
                a(href='#')
                  +arrow()
                  | Устройства контроля притока
              ul.equipMenu
                li: a(href='#')
                  +arrow()
                  | АльфаДирект AICV
                li: a(href='#')
                  +arrow()
                  | АльфаПорт
                li: a(href='#')
                  +arrow()
                  | АльфаДирект ICD
          .equipmentList-item__bottom(data-aos='fade-up')
            .equipmentList-item__mark.spinnerSlow: +img('equip/trademark.svg')
            .equipmentList-item__logo
              +img('equip/item-6.svg')
              +img('equip/item-7.svg')
              +img('equip/item-8.svg')
            .rellax-box: .rellax: +img('equip/cat-2.jpg')
        .equipmentList-item(data-aos='fade-up')
          .equipmentList-item__top(data-aos='fade-up')
            .equipmentList-item__num 03.
            .equipmentList-item__title
              h2
                a(href='#')
                  +arrow()
                  | Дополнительное оборудование
              ul.equipMenu.equipMenu--sup
                li: a(href='#')
                  +arrow()
                  | Гилроеханический паркер
                li: a(href='#')
                  +arrow()
                  | Муфта ГРП
                li: a(href='#')
                  +arrow()
                  | Пакер-Подвеска
                li: a(href='#')
                  +arrow()
                  | Пакер-Подвеска 2
          .equipmentList-item__bottom(data-aos='fade-up')
            .equipmentList-item__mark.spinnerSlow: +img('equip/trademark.svg')
            .rellax-box: .rellax: +img('equip/cat-3.jpg')

block footer
  include ../partials/_footer.pug
