extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.glossary
    +navTitle('Глоссарий')
    .container.glossary-container
      .row.row-add.between__xs
        aside.col.col__xl-4.col__lg-4.col__xs-12
          .glossary-search(data-aos='fade-up')
            +fieldInput('text', 'search', 'searchGloss', 'Начните вводить термин', false)
            button.search--js(type='submit'): +img('icons/search.svg')
          +abcTitle(abc.ABCTitle)
        section.col.col__xl-8.col__lg-8.col__xs-12
          .glossary-results(data-aos='fade-up')
            .glossary-results-title Найдено результатов: #[span 1]
            .glossary-results-desc По запросу: «#[span Автономные устройства контроля]»
          .glossary-list(data-result='Нет результатов')
            .glossary-list__result
            +accGoss(abc.ABCGloss)
            .showMore.more--js(data-aos='fade-up')
              | Показать еще
              span


block footer
  include ../partials/_footer.pug
