extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.page404
    .container
      .page404-inner
        .page404-inner-left(data-aos='fade-up')
          h4 Страница больше неактуальна.
          +buttonSVGBig('Главная страница', '', "#323232")
        .page404-inner-center.revealOut(data-aos='')
          span.revealIn 404
        .page404-inner-right(data-aos='fade-up'): +img('logo-title.svg')

block footer
  include ../partials/_footer.pug
