extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.search-content
    +navTitle('Результаты поиска')
    section.container

      .search-input.more-search
        input(type="text" placeholder="Что вы хотите найти?").search-input__line
        +buttonSVGMD('Искать', 'search-input__btn', '#323232')

      .search-found Найдено: 4

      .search-res.more-search
        a(href="#").search-res__title АльфаДирект
        .search-res__inform АльфаДирект представляет собой разновидность проволочного фильтра, производство которого осуществляется с применением технологии прямой намотки проволоки на базовую трубу. С помощью данной технологии удается реализовать наиболее высокие требования к проволочным фильтрам.
        .search-res__bread
          span.search-res__way Путь:
          span.search-res__crumbs
            a(href="#") Главная
            span  —
            a(href="#")  Оборудование
            span  —
            a(href="#")  АльфаДирект

      .search-res.more-search
        a(href="#").search-res__title АльфаДирект
        .search-res__inform АльфаДирект представляет собой разновидность проволочного фильтра, производство которого осуществляется с применением технологии прямой намотки проволоки на базовую трубу. С помощью данной технологии удается реализовать наиболее высокие требования к проволочным фильтрам.
        .search-res__bread
          span.search-res__way Путь:
          span.search-res__crumbs
            a(href="#") Главная
            span  —
            a(href="#")  Оборудование
            span  —
            a(href="#")  АльфаДирект


      .search-res.more-search
        a(href="#").search-res__title АльфаДирект
        .search-res__inform АльфаДирект представляет собой разновидность проволочного фильтра, производство которого осуществляется с применением технологии прямой намотки проволоки на базовую трубу. С помощью данной технологии удается реализовать наиболее высокие требования к проволочным фильтрам.
        .search-res__bread
          span.search-res__way Путь:
          span.search-res__crumbs Главная — Оборудование — АльфаДирект

      .search-res.more-search
        a(href="#").search-res__title АльфаДирект
        .search-res__inform АльфаДирект представляет собой разновидность проволочного фильтра, производство которого осуществляется с применением технологии прямой намотки проволоки на базовую трубу. С помощью данной технологии удается реализовать наиболее высокие требования к проволочным фильтрам.
        .search-res__bread
          span.search-res__way Путь:
          span.search-res__crumbs
            a(href="#") Главная
            span  —
            a(href="#")  Оборудование
            span  —
            a(href="#")  АльфаДирект

      .search-res.more-search
        a(href="#").search-res__title АльфаДирект
        .search-res__inform АльфаДирект представляет собой разновидность проволочного фильтра, производство которого осуществляется с применением технологии прямой намотки проволоки на базовую трубу. С помощью данной технологии удается реализовать наиболее высокие требования к проволочным фильтрам.
        .search-res__bread
          span.search-res__way Путь:
          span.search-res__crumbs
            a(href="#") Главная
            span  —
            a(href="#")  Оборудование
            span  —
            a(href="#")  АльфаДирект

      .search-res.more-search
        a(href="#").search-res__title АльфаДирект
        .search-res__inform АльфаДирект представляет собой разновидность проволочного фильтра, производство которого осуществляется с применением технологии прямой намотки проволоки на базовую трубу. С помощью данной технологии удается реализовать наиболее высокие требования к проволочным фильтрам.
        .search-res__bread
          span.search-res__way Путь:
          span.search-res__crumbs
            a(href="#") Главная
            span  —
            a(href="#")  Оборудование
            span  —
            a(href="#")  АльфаДирект

      .search-res.more-search
        a(href="#").search-res__title АльфаДирект
        .search-res__inform АльфаДирект представляет собой разновидность проволочного фильтра, производство которого осуществляется с применением технологии прямой намотки проволоки на базовую трубу. С помощью данной технологии удается реализовать наиболее высокие требования к проволочным фильтрам.
        .search-res__bread
          span.search-res__way Путь:
          span.search-res__crumbs
            a(href="#") Главная
            span  —
            a(href="#")  Оборудование
            span  —
            a(href="#")  АльфаДирект

      .showMore.search-showMore.morePP--js
            | Показать еще
            span



block footer
  include ../partials/_footer.pug

