extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.service
    +navTitle('Сервис')
    .container.service-container
      .equipmentList
        .equipmentList-item
          .equipmentList-item__top(data-aos='fade-up')
            .equipmentList-item__num 01.
            .equipmentList-item__title(data-aos='fade-up')
              h2: a(href='#')
                +arrow()
                | Проектирование и инжиниринг
          .equipmentList-item__bottom(data-aos='fade-up')
            .row.bottom__lg.middle__xs
              .col.col__xl-3.col__lg-4.col__xs-12
                ul.list--bullet(data-aos='fade-up')
                  each value in list.project
                    li: a(href='#')
                      +arrow()
                      != value
              .col.col__xl-9.col__lg-8.col__xs-12.text--center
                +img('tab12.jpg')
        .equipmentList-item
          .equipmentList-item__top(data-aos='fade-up')
            .equipmentList-item__num 02.
            .equipmentList-item__title(data-aos='fade-up')
              h2: a(href='#')
                +arrow()
                | Тестирование
          .equipmentList-item__bottom(data-aos='fade-up')
            .row.bottom__lg.middle__xs
              .col.col__xl-3.col__lg-4.col__xs-12
                ul.list--bullet(data-aos='fade-up')
                  each value in list.testing
                    li: a(href='#')
                      +arrow()
                      != value
              .col.col__xl-9.col__lg-8.col__xs-12.text--center
                +img('tab11.jpg')
        .equipmentList-item
          .equipmentList-item__top(data-aos='fade-up')
            .equipmentList-item__num 03.
            .equipmentList-item__title(data-aos='fade-up')
              h2: a(href='#')
                +arrow()
                | Сопровождение
          .equipmentList-item__bottom(data-aos='fade-up')
            .row.bottom__lg.middle__xs
              .col.col__xl-3.col__lg-4.col__xs-12
                ul.list--bullet(data-aos='fade-up')
                  each value in list.escort
                    li: a(href='#')
                      +arrow()
                      != value
              .col.col__xl-9.col__lg-8.col__xs-12.text--center
                +img('tab13.jpg')

block footer
  include ../partials/_footer.pug
