extends ../layouts/master.pug

block header
  include ../partials/_header-fixedB.pug


block content
  main.technology
    +navTitleBackOne('Компоновка АльфаСелект', 'технологии', 'background-color: #EFEFEF', 'technology/item-1.svg', 'Комбинация управляемых фильтров и муфт для скважин МГРП', "icons/pdf.svg")
    .container.technology-containerS
      .technology-line(data-aos='fade-up')
        +img('technology/main.jpg')
      .row.row-add.equipment-template
        .col.col__lg-8.col__xs-12.technology-content
          #target.equipment-template__item.template__item--js
            +revealMainTag('Цели и задачи', 'h3')
            .equipment-template__block(data-aos='fade-up')
              p Основная цель использования технологии регулирования притока заключается в оптимизации производительности добывающих скважин и повышения коэффициента извлекаеости нефти. В силу большой протяженности горизонтальных скважин пластовые условия резервуара вдоль скважины существенно меняются, что приводит неравномерности в притока флюида по зонам скважины.
              br
              h4 Для повышения производительности работы скважин используют методы регулировани зонального притока, которые позволяют решать следующие задачи:
              ul.list--icons
                li Создание равномерного профиля притока флюида вдоль горизонтальной скважины.
                li Борьба с эффектом конусообразования нефтяного пласта и возможности преждевременного прорыва газа или воды.
                li Минимизация притока нежелательного флюида (воды, газа).
                li Ликвидация прорывов воды и газа. Указанные факторы неравномерности притока и угрозы прорыва воды и газа снижают продуктивность скважин, срок их службы, а также могут приводить к существенным расходам, связанным с восстановлением функционирования скважин после прорыва воды и газа.
          #area.equipment-template__item.template__item--js
            +revealMainTag('Область применения', 'h3')
            .equipment-template__block(data-aos='fade-up')
              h4 Технологии регулирования притока в настоящее время активно применяются в мировой пратике. Основные показния к применению:
              ul.list--icons
                li Необходимость выравнивания профиля притока. Из-за наличия внутреннего трения флюида в скважине возникает неравномерность притока. Необходимо создать дополнительное сопротивление для притока флюида вверх по течению в скважине, для общего выравнивания профиля притока вдоль скважины. С более равномерным профилем притока уменьшается риск конусообразования контактной поверхности нефть/вода, нефть/газ и вероятных прорывов воды и газа. Соответственно, увеличивается срок службы скважины и коэффициент извлечения нефти;
                li Возможность прорывов воды и газа. В случае возникновения прорывов воды и газа в скважину необходимо блокировать или существенно понизить приток нежелательного флюида.
          #history.equipment-template__item.template__item--js
            +revealMainTag('История и классификация', 'h3')
            .equipment-template__block(data-aos='fade-up')
              p Впервые устройства этого типа были применены компанией Norsk Hydro (ныне Statoil) в начале 1990х годов для предотвращения раннего прорыва воды в протяженных горизонтальных скважинах.
              h6 Устройства регулирования притока подразделяют на:
              ul.list--icons
                li #[b ICD] — пассивные устройства контроля притока
                li #[b ICV] — переключаемые устройства контроля притока
                li #[b AICD] — автономные устройство контроля притока первого поколения
                li #[b AICV] — автономное устройство контроля притока нового поколения
              .showMoreText
                | Пассивные ICD устройства контроля притока решают главным образом задачу выравнивания притока вдоль скважины. Фактически данные устройства создают дополнительное сопротивление в потоке добываемого флюида, позволяет выравнивать распределения притока вдоль скважины. Устройства пассивного контроля притока используют в составе с противопесочными фильтрами,
                br
                | Пассивные ICD устройства контроля притока решают главным образом задачу выравнивания притока вдоль скважины. Фактически данные устройства создают дополнительное сопротивление в потоке добываемого флюида, позволяет выравнивать распределения притока вдоль скважины. Устройства пассивного контроля притока используют в составе с противопесочными фильтрами,
                .showMoreText-link
                  | Показать полностью
                  span
          #benefits.equipment-template__item.template__item--js
            +revealMainTag('Преимущества', 'h3')
            .equipment-template__block(data-aos='fade-up')
              p Впервые устройства этого типа были применены компанией Norsk Hydro (ныне Statoil) в начале 1990х годов для предотвращения раннего прорыва воды в протяженных горизонтальных скважинах.
              h4 Суммируя вышесказанное, AICV обладает следующими премуществами в решении задач контроля притока флюида в скважине:
              ul.list--corner.row.between__xs
                li.col.col__md-6.col__xs-12 Позволяет на 98-99% перекрывать прорыв воды и газа в скважину
                li.col.col__md-6.col__xs-12 Не требует внешнего управления, удаленного контроля
                li.col.col__md-6.col__xs-12 Устройство восстанавливает приток нефти после блокировки прорыва воды или газа
                li.col.col__md-6.col__xs-12 Может устанавливаться для новых и уже используемых скважинах
                li.col.col__md-6.col__xs-12 Может устанавливаться для новых и уже используемых скважинах
          #about.equipment-template__item.template__item--js
            +revealMainTag('Оборудование, #[br] где применяется технология', 'h3')
            .swiper-button(data-aos='fade-up')
              .swiper-prev.swiper-prev-tech: i.icon-prev
              .swiper-next.swiper-next-tech: i.icon-next
            .indexSlider.swiper-container(data-adaptive='true', data-aos='fade-up')
              .swiper-wrapper
                - for (let x = 1; x < 5; x++)
                  .swiper-slide
                    .equipment-template__card
                      .row
                        .col.col__md-6.col__xs-12
                          h4 АльфаШелл
                          p.text__sm Фильтр скважинный щелевой
                        .col.col__md-6.col__xs-12
                          +img('technology/slide.jpg')
                    .equipment-template__card
                      .row
                        .col.col__md-6.col__xs-12
                          h4 АльфаСелект
                          p.text__sm Система управляемых фильтров, совмещенная с системой МГРП
                        .col.col__md-6.col__xs-12
                          +img('technology/slide.jpg')
          #projects.equipment-template__item.template__item--js
            +revealMainTag('Проекты, на которых #[br] применялась технология', 'h3')
            include ../components/_projectsSlider
          #faq.template__item--js: +form('Задать вопрос по технологии', 'Вопрос', 'Спасибо! Мы получили ваш сообщение.')
        .col.col__lg-4.col__md-6.col__xs-12.hideOnMobileAndTablet
          .sidebar
            ul.equipmentNav.anchor(data-aos='fade-up')
              li.active: a(href='#target') Цели и задачи
              li: a(href='#area') Область применения
              li: a(href='#history') История и классификация
              li: a(href='#benefits') Преимущества
              li: a(href='#about') О технологии
              li: a(href='#projects') Проекты
              li: a(href='#faq') Задать вопрос
            a.link-icon(href='#', data-aos='fade-up')
              i.long-arrow-left
              span Ко всем фильтрам
    .container.stopper: +nextItem('Компоновка АльфаAICV', 'technology/item-1.jpg', 'Смотрите также', true)

block footer
  include ../partials/_footer.pug
