extends ../layouts/master.pug

block pageName
  - const pageName = "fixed"

block header
  include ../partials/_header-fixed.pug


block content
  main.testing
    +navTitleBackOneArray('Тесты по методикам разрушающего и неразрущающего контроля', 'Сервис', 'background-image: url("assets/images/service/testing.png")', '', "icons/pdfw.svg")
    .container.equipment-container
      .row.row-add.equipment-template
        .col.col__lg-8.col__xs-12.equipment-content
          #description.equipment-template__item.template__item--js
            .equipment-template__innerBlock(data-aos='fade-up')
              p К тестам неразрушающего контроля относится группа испытаний, направленных на проверку качества исполнения оборудования фильтров, а также на определение метрических характеристик щелевых зазоров оборудования.
              .image(data-aos='fade-up'): +img('service/main-testing5.jpg')
              +revealMainTag('Лазерно–оптический контроль щелевых зазоров', 'h4')
              .equipment-template__block(data-aos='fade-up')
                p Данное испытание проводится в рамках проекта разработки бесконтактного способа контроля щелевых отверстий проволочных фильтров. Для реализации данного контроля используется лазерно-оптический способ автоматической фиксации щелевых зазоров с помощью инспекционной машины Квантрон НФ 150.
              .acc
                .acc__card
                  .acc__inner(data-aos='fade-up')
                    .acc__title Подробное описание #[span]
                    .acc__panel
                    p Инспекционная машина включает высокоточную оптическую камеру с телецентрическим объективом, лазерный триангуляционный дальномер, систему подсветки, систему вертикального и горизонтального перемещения. Для контроля щелевых зазоров используется специальное программное обеспечение, основанное на алгоритме автоматического распознавания величины щелевых отверстий. Инспекционная машина позволяет тестировать фильтры длиной до 10 метров с диаметром базовой трубы от 60 мм до 245 мм с щелевыми зазорами от 50 до 1500 микрон. Точность измерения щелевых зазоров составляет 5 микрон, что на порядок превышает точность ручного замера щелевых отверстий.
                    p Основой системы является оптический микрометр, который состоит из промышленного CMOS-сенсора, би-телецентрического безаберрационного объектива и промышленной подсветки измеряемой области.
                    p Управление работой инспекционной машины строится через графический интерфейс сенсорного экрана вычислительного блока системы. Оператор инспекционной машины осуществляет вход в систему и выбирает соответствующую программу тестирования щелевых зазоров фильтра.
                    p После автоматической процедуры самонастройки система начинает работу по сканировании поверхности фильтра. Изображение с сенсора сканера поступает в вычислительный блок (4) для дальнейшей обработки. На основе математических алгоритмов и данных внешней и внутренней калибровки системы делается расчет по величинам щелевых зазоров тестируемой поверхности фильтра.
                    p Данные по этим расчетам выводятся на дисплей вычислительной системы в режиме реального времени. Возможен режим работы системы, при котором при превышении размеров допусков щелевых зазоров на экран дисплея выводится предупреждение и подается звуковое оповещение.
                    p Оптический микрометр размещен на кронштейне, который закреплен на подвижной платформе. Ось оптического микрометра находится под углом 90 градусов по отношению к касательной проволочной поверхности фильтра на расстоянии 65 мм от этой поверхности. При этом участок должен попасть в диапазон глубины резкости оптического микрометра с точностью 1,5 мм.
                    p Для этого необходимо использование лазерного триангуляционного датчика Kvantron SmartPoint, который с высокой точностью определяет расстояние до плоскости измерения фильтра. Он размещен на неподвижном кронштейне.
                    p Если измеренное смещение фильтра становится более 1,5 мм относительно датчика (10), то на контроллер подается команда на изменение расстояния от оптического микрометра до поверхности фильтра таким образом, чтобы расстояние между оптическим микрометром и фильтром сохранялось одинаковым.
                    h5 Достижение прецизионной точности работы инспекционной машины основано на двух составляющих:
                    ul.list--number
                      li Применение телецентрической оптики. При этом не только бителецентрического объектива для высокоскоростной промышленной камеры, но и телецентрического излучателя, формирующий пучок строго параллельных лучей. Это позволяет в несколько раз уменьшить размытость края, повышая его четкость и контраст для вычисления щелевого зазора.
                      li Использование специального алгоритма, позволяющего с высокой точностью проводить аппроксимацию контуров различной формы.
                    p В рамках разработки аппаратно-программного комплекса инспекционной машины реализуются несколько программ тестирования щелевых зазоров фильтров.
                    p Стандартная программа соответствует основной схеме тестирования проволочных фильтров, принятых в большинстве требованиях заказчиков продукции нефтяных фильтров. Программа состоит в выборке 200 замеров (50 замеров по четырем зонам с поворотом фильтра вокруг оси на 90 градусов между зонами).
                    p По итогам тестирования щелевых зазоров фильтра составляется автоматический отчет с анализом статистики распределения щелевых зазоров в формате PDF и выявление годности тестируемого образца фильтра по заданным критериям годности продукции проволочной намотки.
            .equipment-template__innerBlock
              +revealMainTag('Тест калибровки гранулами', 'h3')
              .equipment-template__block(data-aos='fade-up')
                p Данный тест используется для выявления качества фильтрации для фильтров с непостоянной величиной щелевого отверстия, таких как сетчатые фильтры, фильтры трехмерной фильтрации и др.
                p Общие требования по данному испытанию описаны в ГОСТе 32504-2013. Задача теста состоит в вычислении доли удержанных и пропущенных через фильтр гранул размером, соответствующим щелевому отверстию фильтра.
                p В качестве методики определения свойств фильтрации по размеру может быть применена методика компании Whitehouse Scientific на основе сертификационного стандарта Sieve Calibration Standard.
                p Данное испытание в итоге позволяет определить значение калибровки фильтра. При этом используется условие, что процент удержания массовой доли гранул размера большего номинального размера щели фильтра и процент пропуска массовой доли гранул размера меньшего номинального размера щели фильтра составляет не менее чем 10%.
          #projects.equipment-template__item.template__item--js
            +revealMainTag('Ключевые проекты', 'h3')
            include ../components/_projectsSlider
          #faq.template__item--js: +form('Задать вопрос', 'Вопрос', 'Спасибо! Мы получили ваш сообщение.')
        .col.col__lg-4.col__xs-12.hideOnMobileAndTablet
          .sidebar
            ul.equipmentNav.anchor(data-aos='fade-up')
              li.active: a(href='#description') Описание
              li: a(href='#projects') Проекты
              li: a(href='#faq') Задать вопрос
            +linkIcon('Вернуться назад')
    .container.stopper: +nextItem('Сопровождение', 'service/next.jpg', 'Следующая услуга', false)

block footer
  include ../partials/_footer.pug
