extends ../layouts/master.pug

block header
  include ../partials/_header-fixed.pug


block content
  main.testing
    +navTitleBackOneArray('Механические тесты на прочность фильтров', 'Сервис', 'background-image: url("assets/images/service/testing.png")', '', "icons/pdfw.svg")
    .container.equipment-container
      .row.row-add.equipment-template
        .col.col__lg-8.col__xs-12
          #description.equipment-template__item.template__item--js
            +revealMainTag('Тесты на деформацию компоновки фильтра', 'h3')
            .equipment-template__block(data-aos='fade-up')
              p Задачей выполнения механических тестов является проверка на прочность изделия фильтров при различных силовых нагрузках, применяемых к компоновке фильтра. Фильтры должны выдерживать докритические напряжения растяжения, сдвига, изгиба, вращения, не вызывая потери контроля пескопроявления и целостности конструкции компоновки.
            br
            br
            div(data-aos='fade-up'): +img('service/main-testing.jpg')
            .equipment-template__block(data-aos='fade-up')
              h4 Тесты на деформацию компоновки фильтра проверяют целостность следующих конструкций фильтра:
              ul.list--char
                li Проволочная намотка / сварное соединение ребер жесткости
                li Соединение между концами рубашки фильтра и стопорным кольцом
                li Сварное соединение между стопорным кольцом и базовой трубой
                li Щелевые отверстия фильтра должны сохранять при нагрузках базовые значения фильтра при&nbsp;номинальных отклонениях
            br
            .equipment-template__innerBlock
              +revealMainTag('Испытания натяжением фильтра', 'h3')
              .equipment-template__block(data-aos='fade-up')
                p Целью данного испытания является подтверждение целостности щелевых зазоров фильтра проволочной намотки, прочности продольных ребер жесткости при осевом усилии растяжения фильтра. Это испытание выполняется путем цементирования секции фильтра на одном конце и приложением усилия растяжения на базовую трубу на противоположном конце как показано на рисунке ниже.
                p: i Критерий годности: фильтр должен выдерживать напряжение 108 кН (11,000 кгс).
                br
              .content-img(data-aos='fade-up')
                +img('service/main-testing1.jpg')
                p Рисунок 1. Схема установки для испытания на растяжение фильтра
              .equipment-template__block(data-aos='fade-up')
                .row
                  ul.col.col__xs-6.list--summ
                    li #[span 1] — базовая труба
                    li #[span 2] — фильтроэлемент
                    li #[span 3] — стопорное кольцо
                    li #[span 4] — труба
                    li #[span 5] — заглушка
                  ul.col.col__xs-6.list--summ
                    li #[span 6] — переходник
                    li #[span 7] — цементный раствор
                    li #[span 8] — манометр (датчик давления)
                    li #[span 9] — гидроцилиндр
              hr
            .equipment-template__innerBlock
              +revealMainTag('Испытание на сдвиг для замыкающего кольца', 'h4')
              .equipment-template__block(data-aos='fade-up')
                p Целью данного испытания является подтверждения прочности сварного шва стопорного замыкающего кольца с базовой трубой при осевой усилии сжатия с обеих сторон стопорных колец. Испытание выполняется путем осевого сдвига колец с обеспечением полного контакта вокруг этих колец.
                p: i Критерий годности: целостность конструкции должна сохраняться при. напряжении 108 кН (11,000 кгс).
                br
              .content-img(data-aos='fade-up')
                +img('service/main-testing2.jpg')
                p Рисунок 2. Схема установки для испытания на сдвиг стопорных колец
              .equipment-template__block(data-aos='fade-up')
                .row
                  ul.col.col__xs-6.list--summ
                    li #[span 1] — базовая труба
                    li #[span 2] — гидроцилиндр
                    li #[span 3] — стопорное кольцо
                    li #[span 4] — упорная втулка
                    li #[span 5, 6] — опорный элемент
                  ul.col.col__xs-6.list--summ
                    li #[span 7] — манометр (датчик давления)
              hr
            .equipment-template__innerBlock
              +revealMainTag('Испытание на отделение проволочной намотки и ребер жесткости', 'h4')
              .equipment-template__block(data-aos='fade-up')
                p Цель данного испытания проверить качество сварки проволочной намотки и ребрами жесткости. Испытания проводится с помощью приложения усилия к элементу проволочной намотки при фиксации остальной части фильтроэлемента.
                p: i Критерием годности сварки проволочной намотки является усилие: 1.23 кН (125 кгс), которое должна выдерживать сварка.
                br
              .content-img(data-aos='fade-up')
                +img('service/main-testing3.jpg')
                p Рисунок 3. Испытание на отделение для проволочной обмотки — ребер жесткости
              .equipment-template__block(data-aos='fade-up')
                p Испытательный стенд #[span (рисунок 3)] представляет собой установку, позволяющие выполнять операции по отделению намоточной проволоки от ребер жесткости с помощью пресса.
                p Для выполнения теста требуется подготовка специальных образцов проволочного фильтра путем вырезания части поверхности этого фильтра, которая включает несколько ребер жесткости и часть намоточной проволоки, приваренной к ним.
                p Образец, закрепляется на стенде таким образом, чтобы пуансон пресса мог оказывать давление элемент проволоки, чтобы приводить к отделению намоточной проволоки от ребер жесткости.
                p: i Критерий годности: при растягивающей нагрузке 1.23 кН (125 кгс) не происходит расчленение сварного соединения проволоки и ребра жёсткости.
            .equipment-template__innerBlock
              +revealMainTag('Испытания на изгиб конструкции', 'h4')
              .equipment-template__block(data-aos='fade-up')
                p Фильтра должен выдерживать допустимое значение изгиба оси фильтра. Методика испытания заключается в фиксации с помощью оснастки корпуса фильтра и приложения вертикальной нагрузки к концу базовой трубы до достижения требуемого отклонения оси трубы на заданное значения угла. После сброса нагрузки проверяется целостность конструкции фильтра и его параметры щелевых отверстий. Испытание не должно приводить к деформации фильтра.
                p: i Критерий годности: допустимое значение изгиба / 30.5 м ( / 100 футов) или на соответствующие значения угла изгиба конструкции в пропорции к длине испытываемой части конструкции фильтра.
            .equipment-template__innerBlock
              +revealMainTag('Испытания на кручение фильтра', 'h4')
              .equipment-template__block(data-aos='fade-up')
                p Необходим для проверки потери контроля пескопроявления при нагрузках на кручение. Нагрузки кручения возникают в процессе спуска хвостовика в скважину с вращением.
                p Тест проводится путем закрепления фильтра и приложения момента вращения к базовой трубе, на которой смонтирован фильтр.
                p Тест определяет прочность крепления фильтра на базовой трубе при возникновении момента усилия вращения фильтра.
                p: i Номинальное значение момента нагрузки 8 кН*м.
                br
              .content-img(data-aos='fade-up')
                +img('service/main-testing4.jpg')
                p Рисунок 3. Испытание на нагрузку кручения фильтра
          #projects.equipment-template__item.template__item--js
            +revealMainTag('Ключевые проекты', 'h3')
            .swiper-button(data-aos='fade-up')
              .swiper-prev.swiper-prev-equip: i.icon-prev
              .swiper-next.swiper-next-equip: i.icon-next
            .indexSlider.swiper-container(data-adaptive='true', data-aos='fade-up')
              .swiper-wrapper
                - for (let x = 1; x < 5; x++)
                  .swiper-slide
                    .equipment-template__card
                      .row
                        .col.col__md-6.col__xs-12
                          h4 Внедрение технологии AICV компании ООО «Альфа Горизонт»
                          p.text__sm Норвегия   —   2016 год
                        .col.col__md-6.col__xs-12
                          +img('equip/proj.jpg')
                    .equipment-template__card
                      .row
                        .col.col__md-6.col__xs-12
                          h4 Внедрение технологии AICV компании ООО «Альфа Горизонт»
                          p.text__sm Норвегия   —   2016 год
                        .col.col__md-6.col__xs-12
                          +img('equip/proj1.jpg')
          #faq.template__item--js: +form('Задать вопрос', 'Вопрос', 'Спасибо! Мы получили ваш сообщение.')
        .col.col__lg-4.col__md-6.col__xs-12.hideOnMobileAndTablet
          .sidebar
            ul.equipmentNav.anchor(data-aos='fade-up')
              li.active: a(href='#description') Описание
              li: a(href='#projects') Проекты
              li: a(href='#faq') Задать вопрос
            a.link-icon(href='#', data-aos='fade-up')
              +img('icons/backLink.svg')
              span Ко всем фильтрам
    .container.stopper: +nextItem('Сопровождение', 'service/next.jpg', 'Следующая услуга', false)

block footer
  include ../partials/_footer.pug
