.cookies
  .container
    .cookies-text Используя данный сайт, вы даете согласие на использование файлов cookie, данных об IP-адресе и местоположении, помогающих нам сделать его удобнее для вас. #[a(href='#', target='_blank') Подробнее.]
    .cookies-btn
      .cookies--js: +buttonSVGBig('Принять и закрыть', '', "#323232")
