footer.page-footer
  .container
    .row.between__xs(data-aos='fade-up')
      .col.col__lg-3.col__md-6.col__xs-12.page-footer-item.first__lg.last__xs
        .page-footer-adr г. Санкт-Петербург, наб. реки Мойки, #[br] 75-79 лит. В, пом. 7Н
      .col.col__lg-8.col__md-6.col__xs-12
        .page-footer-contact
          div: a.navbar-phone(href='tel:88123290190') 8 812 329-01-90
          br
          div: a.navbar-phone(href='mailto:info@alfahorizont.ru') info@alfahorizont.ru
    .row.between__xs.page-footer-nav(data-aos='fade-up')
      .col.col__lg-3.col__md-4.col__xs-12.page-footer-item.page-footer-menuLink
        ul.page-footer-menu
          li.showOnMobile: a(href='#') Проекты
          li: a(href='#') О компании
          li: a(href='#') Вакансии
          li: a(href='#') Новости
          li: a(href='#') Публикации
          li: a(href='#') Глоссарий
          li: a(href='#') Контакты
        .m-auto
          .links
            a.link-icon.navbar-youtube(href='#', target='_blank')
              i
              span YouTube
            a.link-icon.navbar-insta(href='#', target='_blank')
              i
              span Instagram
      .col.col__md-8.col__xs-12
        .row.between__xs
          .col.col__xl-5.col__md-6.col__xs-12
            .page-footer-smallTitle.page-footer-smallTitle--js
              a(href='#') Сервис
            ul.page-footer-smallMenu
              li: a(href='#') Анализ скважинных условий
              li: a(href='#') Проектирование систем заканчивания
              li: a(href='#') Подбор скважинного оборудования
              li: a(href='#') Сопровождение проекта системы заканчивания
          .col.col__md-6.col__xs-12
            .page-footer-smallTitle.page-footer-smallTitle--js
              a(href='#') Технологии
            ul.page-footer-smallMenu
              li: a(href='#') Технология борьбы с пескопроявлением
              li: a(href='#') Технология 3D–фильтрации
              li: a(href='#') Технология изоляции
              li: a(href='#') Технологии контроля притока
              li: a(href='#') Способы предотвращения прорывов воды и газа
        .row.between__xs.page-footer-smallTitle--up
          .col.col__md-6.col__xs-12
            .page-footer-smallTitle.page-footer-smallTitle--js
              a(href='#') Оборудование
            ul.page-footer-smallMenu
              li: a(href='#') Фильтры скважинные
              li: a(href='#') Фильтры управляемые
              li: a(href='#') Пакеры
              li: a(href='#') Дополнительное оборудование
          .col.col__md-6.col__xs-12.hideOnMobile
            .page-footer-smallTitle
              a(href='#') Проекты
    .row.bottom__xs.between__xs(data-aos='fade-up')
      .col.col__lg-3.col__md-4.col__xs-12.page-footer-item.page-footer-copylink
        .page-footer-copy © 2020 Альфа Горизонт
        .page-footer-link Сделано в #[a(href='https://cloudmill.ru' target='_blank') CloudMill]
      .col.col__lg-8.col__md-8.col__xs-12
        .col__xl-12.col__lg-11
          a.link-block(href='#', target='_blank')
            .link-block__title.text__lg Следите за нашими #[br] публикациями на LinkedIn
            .link-block__img: i.icon-in
