header.page-header(data-aos='fade-up', data-aos-delay='500')
  .container.container--sb
    a.logo(href="/"): +img('logo-white.svg')
    a.search
.search__box
  .container
    .item
      .search__close
    .input-box
        input(type="text" placeholder="Что вы хотите найти?").search__input#search
        label(for="search")
        +buttonSVGMD('Искать', 'buttonSearch search-input__btn', 'none')
