.loader.loaderInner
  .loader-inner
    .card
      .card-contents.card-front
        .card-depth: img(src="assets/images/loader.svg")
      .card-contents.card-back
        .card-depth: img(src="assets/images/loader.svg")
