.page-menu(data-aos='fade-left', data-aos-delay='300')
  .page-menu__logo
    .card
      .card-contents.card-front
        .card-depth
          a(href="/"): img(src="assets/images/icons/logo.svg", alt="Alfa")
      .card-contents.card-back
        .card-depth
          a(href="/"): img(src="assets/images/icons/logo.svg", alt="Alfa")
  .page-menu__menu.menu--js
    .menu
      span
      span
    div Меню
  .page-menu__language.hideOnMobile
    a.active(href='#') Ru
    a(href='#') En
include ../components/_navbar
