#googleMaps(data-locations=[
  [
    59.91701049,
    30.31812429,
    'assets/images/icons/bubbleb.svg',
    'Россия, Сергиев Посад — 2019 г',
    'Тест на кручение фильтра АльфаДирект',
    'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
    'Партнерские проекты',
    'assets/images/popup.jpg',
    '#',
  ],
  [
    59.91916157,
    30.3251195,
    'assets/images/icons/bubbleb.svg',
    'Россия, Сергиев Посад — 2020 г',
    'Тест на кручение фильтра АльфаДирект',
    'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
    'Партнерские проекты',
    'assets/images/popup.jpg',
    '#',
  ],
  [
    59.91756978,
    30.31812429,
    'assets/images/icons/bubblel.svg',
    'Россия, Сергиев Посад — 2018 г',
    'Тест на кручение фильтра АльфаДирект',
    'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
    'Партнерские проекты',
    'assets/images/popup.jpg',
    '#',
  ],
  [
    59.92049517,
    30.33250093,
    'assets/images/icons/bubblel.svg',
    'Россия, Сергиев Посад — 2017 г',
    'Тест на кручение фильтра АльфаДирект',
    'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
    'Партнерские проекты',
    'assets/images/popup.jpg',
    '#',
  ],
  [
    59.91701049,
    30.3276515,
    'assets/images/icons/bubblel.svg',
    'Россия, Сергиев Посад — 2016 г',
    'Тест на кручение фильтра АльфаДирект',
    'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
    'Партнерские проекты',
    'assets/images/popup.jpg',
    '#',
  ],
  [
    59.92256978,
    30.31812429,
    'assets/images/icons/bubble.svg',
    'Россия, Сергиев Посад — 2019 г',
    'Тест на кручение фильтра АльфаДирект',
    'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
    'Партнерские проекты',
    'assets/images/popup.jpg',
    '#',
  ],
  [
    59.92349517,
    30.33250093,
    'assets/images/icons/bubble.svg',
    'Россия, Сергиев Посад — 2019 г',
    'Тест на кручение фильтра АльфаДирект',
    'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
    'Партнерские проекты',
    'assets/images/popup.jpg',
    '#',
  ],
  [
    59.92401049,
    30.3276515,
    'assets/images/icons/bubble.svg',
    'Россия, Сергиев Посад — 2019 г',
    'Тест на кручение фильтра АльфаДирект',
    'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
    'Партнерские проекты',
    'assets/images/popup.jpg',
    '#',
  ],
])
