nav.navbar
  .navbar-inner
    .navbar-row
      .navbar-col
        a(href="#").menuNav__link Оборудование
      .navbar-col
        ul
          li.navbar-li
            a(href="#") Скважинные фильтры
          li.navbar-li
            a(href="#") Дополнительное оборудование
          li.navbar-li
            a(href="#") Устройства контроля притока
    .navbar-row
      .navbar-col
        a(href="#").menuNav__link Сервис
      .navbar-col
        ul
          li.navbar-li
            a(href="#") Инжиниринг
          li.navbar-li
            a(href="#") Тестирование
          li.navbar-li
            a(href="#") Сопровождение
    .navbar-row
      .navbar-col
        a(href="#").menuNav__link О компании
      .navbar-col
        ul
          li.navbar-li
            a(href="#") Производство
          li.navbar-li
            a(href="#") Интегрированная система менеджмента
          li.navbar-li
            a(href="#") Лаборатория
    .navbar-row.navbar-row--noborder
      .navbar-row.navbar-row--width-40
        .navbar-col
          ul
            li.navbar-li.navbar-li--big
              a(href="#") Технологии
            li.navbar-li.navbar-li--big
              a(href="#") Проекты
            li.navbar-li.navbar-li--big
              a(href="#") Вакансии
            li.navbar-li.navbar-li--big
              a(href="#") Новости
        .navbar-col
          ul
            li.navbar-li.navbar-li--big
              a(href="#") Публикации
            li.navbar-li.navbar-li--big
              a(href="#") Глоссарий
            li.navbar-li.navbar-li--big
              a(href="#") Контакты
      .navbar-row.navbar-row--width-40
        .navbar-col.navbar-col--width-100
          a.navbar-phone(href='tel:88123290190') 8 812 329-01-90
          a.navbar-email(href='mailto:info@alfahorizont.ru') info@alfahorizont.ru
          .navbar-adr г. Санкт-Петербург, наб. реки Мойки, #[br] 75-79 лит. В, пом. 7Н
    .page-menu__language
      a.active(href='#') Ru
      a(href='#') En










//-       .col.col__lg-6.col__md-5.col__xs-12.navbar-item
//-         .page-menu__language
//-           a.active(href='#') Ru
//-           a(href='#') En
//-         +menuNav(menu.mainMenu)
//-         .hideOnMobile
//-           a.link-icon.navbar-youtube(href='#')
//-             i
//-             span YouTube
//-           br
//-           a.link-icon.navbar-insta(href='#', target='_blank')
//-             i
//-             span Instagram
//-       .col.col__lg-6.col__md-7.col__xs-12.navbar-item
//-         a.navbar-phone(href='tel:88123290190') 8 812 329-01-90
//-         a.navbar-email(href='mailto:info@alfahorizont.ru') info@alfahorizont.ru
//-         .navbar-adr г. Санкт-Петербург, наб. реки Мойки, #[br] 75-79 лит. В, пом. 7Н
//-         .m-auto.first__xs.last__md
//-           +menuSubNav(menu.appMenu)
//-       .col.col__xs-12.navbar-column
//-         .showOnMobile
//-           a.link-icon.navbar-youtube(href='#', target='_blank')
//-             i
//-             span YouTube
//-           br
//-           a.link-icon.navbar-insta(href='#', target='_blank')
//-             i
//-             span Instagram
//-         a.link-block(href='#', target='_blank')
//-           .link-block__title.text__lg Следите за нашими #[br] публикациями на LinkedIn
//-           .link-block__img: i.icon-in
//- .navbar-background
