#projectsPopup.popup(style="display: none")
  .popup-inner
    .popup-image
      img(src='', alt='')
    .popup-body
      .popup-tool
        .text__sm.text--gray
      .popup-title
        h5
      .popup-desc
        .text__sm.text--gray
      .popup-footer.m-auto
        a.btn.btn--primary(href='#')
          span
          | Подробнее
        .popup-cat
          b.text__sm.text--gray
