#projectsPopup.popup(style="display: none")
  .popup-close.popup-close--js: +img('icons/close.svg')
  .popup-inner
    .popup-image
      img(src='assets/images/popup.jpg', alt='')
    .popup-body
      .popup-tool
        .text__sm.text--gray
      .popup-title
        h5
      .popup-desc
        .text__sm.text--gray
      .popup-footer.m-auto
        +buttonSVG('Подробнее', '', "#323232")
        .popup-cat
          b.text__sm.text--gray
